@charset "UTF8";
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 680px) {
  .container {
    width: 100%;
  }
}
.home_nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  width: 100%;
  height: 143px;
  opacity: 80%;
}
@media screen and (max-width: 680px) {
  .home_nav {
    display: none;
  }
}
.home_nav li {
  font-family: serif;
  font-weight: bold;
  font-size: 3.5rem;
  margin: 55px 53px 0 0;
}

.home_nav li a {
  color: #fff;
  text-decoration: none;
  display: block;
}
.home_nav li a:hover {
  color: #fc3;
  text-decoration: underline;
}
.mini_logo {
  width: 110px;
  margin-top: -50px;
}
@media screen and (max-width: 680px) {
  .mini_logo {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  overflow: hidden;
  z-index: 1;
}

/* メニューボタンのスタイル */
.menu-button {
  display: block;
  position: fixed;
  top: 20px;
  left: 340px;
  cursor: pointer;
  z-index: 2;
  color: #fff;
  background-color: #000;
  padding: 5px;
}

/* メニューバーのスタイル */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0 0 7px;
  background-color: #fff;
  transition: 0.4s;
}
.menu-button p {
  font-family: serif;
  font-size: 1.2rem;
}
/* メニューボタンがチェックされた場合の1つ目のバーのアニメーション */
#menu-toggle:checked ~ .menu-button .bar:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 3px);
}

/* メニューボタンがチェックされた場合の2つ目のバーのアニメーション */
#menu-toggle:checked ~ .menu-button .bar:nth-child(2) {
  opacity: 0;
}

/* メニューボタンがチェックされた場合の3つ目のバーのアニメーション */
#menu-toggle:checked ~ .menu-button .bar:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -13px);
}

/* メニュートグルのスタイル */
#menu-toggle {
  display: none;
}

/* メニューのスタイル */
.menu {
  position: fixed;
  top: 0;
  right: -100%; /* 変更: メニューを左からスライドインさせるために left に設定 */
  width: 46%;
  height: 26%;
  background-color: #f3f3f3;
  transition: 0.4s;
  z-index: 2;
  overflow-y: auto;
}

/* メニュートグルがチェックされた場合のメニューの表示アニメーション */
#menu-toggle:checked ~ .menu {
  right: 0; /* メニューを表示させるために left を 0 に変更 */
}

/* メニュー内のリストのスタイル */
.menu ul {
  list-style: none;
  padding: 20px;
  background-color: #333;
}

/* メニュー内リストのリンクのスタイル */
.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Kaisei Decol;
  font-size: 20px;
  display: block;
  padding: 10px 0;
  transition: 0.2s;
  border-bottom: 1px solid #fff;
}

/* メニュー内リストのリンクのホバー時のスタイル */
.menu ul li a:hover {
  color: #bf7497;
}
.home_img_01 {
  width: 100%;
  /* height: 661px; */
  /* object-fit: cover; */
}
@media screen and (max-width: 680px) {
  .home_img_01 {
    width: 100%;
  }
}
.logo_01 {
  position: absolute;
  top: 365px;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
  width: 287px 351px;
}
@media screen and (max-width: 680px) {
  .logo-s {
    position: absolute;
    top: 11px;
    left: 15px;
  }
}
.main_container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 680px) {
  .main_container {
    width: 100%;
  }
}
.main_container .main-bg {
  background-image: url(../LP-pc-img/pc-bg/images/pc-bg-home-01.png);
  background-size: 1000px 3546px;
}
.mainVisual h2 {
  margin-left: 40px;
  font-size: 6rem;
  font-family: serif;
  line-height: 105px;
  color: #f2c9c7;
  text-align: left;
  background-color: #000;
  width: 629px;
  height: 398px;
  padding: 0 0 0 33px;
  border: solid #fc3;
  border-top: none;
  border-bottom: none;
}
@media screen and (max-width: 680px) {
  .mainVisual h2 {
    font-size: 2.1rem;
    margin-left: 15px;
    padding-top: 26px;
    line-height: 36px;
    background-color: #000;
    width: 200px;
    height: 197px;
    border-width: 1px;
    /* padding-right: 22px; */
  }
}
.mainVisual p {
  position: absolute;
  top: 250px;
  left: 78px;
  text-align: center;
  line-height: 55px;
  font-size: 3.2rem;
  font-family: serif;
  color: #fff;
}
@media screen and (max-width: 680px) {
  .mainVisual p {
    font-size: 1.6rem;
    top: 94px;
    left: 53px;
    width: 161px;
    line-height: 28px;
    padding-top: 14px;
  }
}
.main_img {
  position: absolute;
  top: 88px;
  right: 0;
}
.piza-s {
  position: absolute;
  top: 23px;
  right: 0px;
  width: 41%;
}
.pasuta-s {
  width: 59%;
}
.kodawari h2 {
  font-size: 6rem;
  font-family: serif;
  text-align: center;
  color: #fff;
  text-decoration: underline;
  margin: 139px 0 118px 0;
}
@media screen and (max-width: 680px) {
  .kodawari h2 {
    font-size: 2.4rem;
    margin: 90px 0 50px 0;
  }
}
.komugi_img {
  position: relative;
  top: 30px;
  left: 0;
  margin-bottom: 147px;
}
.komugi_img-s {
  position: relative;
  top: 0px;
  left: 24px;
}
.setumei {
  position: relative;
  top: -353px;
  width: 514px;
  margin: 0 42px 0 462px;
  font-size: 2.8rem;
  font-family: serif;
  line-height: 47px;
  text-align: left;
  color: #fff;
}
@media screen and (max-width: 680px) {
  .setumei {
    position: absolute;
    top: 735px;
    left: 37px;
    font-size: 1.6rem;
    margin: 0;
    width: 330px;
    line-height: 28px;
  }
}
.yellow {
  color: #ffef00;
}
.teuti_img {
  position: relative;
  top: 0;
  left: 359px;
  margin-bottom: 147px;
}
.teuti_img-s {
  position: relative;
  top: 208px;
  left: 135px;
}
.kodawari2 p {
  position: relative;
  top: -444px;
  width: 601px;
  left: 58px;
  color: #fff;
  font-size: 2.6rem;
  font-family: serif;
  line-height: 46px;
}
@media screen and (max-width: 680px) {
  .kodawari2 p {
    position: absolute;
    top: 1092px;
    left: 28px;
    width: 336px;
    font-size: 1.6rem;
    line-height: 28px;
  }
}
.pizagama_img {
  position: relative;
  top: 0px;
  left: 0;
  margin-bottom: 241px;
}
.pizagama_img-s {
  position: relative;
  top: 386px;
  left: 24px;
}
.kodawari3 p {
  position: relative;
  top: -508px;
  left: 420px;
  font-size: 2.6rem;
  font-family: serif;
  line-height: 42px;
  width: 571px;
  height: 113px;
  letter-spacing: 1px;
  color: #fff;
}
@media screen and (max-width: 680px) {
  .kodawari3 p {
    position: absolute;
    top: 1406px;
    left: 20px;
    font-size: 1.6rem;
    line-height: 28px;
    width: 363px;
  }
}
.hito {
  color: #fff;
  font-family: serif;
  display: flex;
}
@media screen and (max-width: 680px) {
  .hito {
    position: relative;
    top: 566px;
  }
}
.hito-img {
  width: 500px;
}
.hito-img-s {
  top: 549px;
  width: 46%;
  object-fit: none;
}
@media screen and (max-width: 680px) {
  .hitokoto {
    /* position: absolute;
    top: 1669px;
    left: 236px; */
    width: 208px;
    text-align: left;
    margin-top: -38px;
  }
}
.name {
  margin: 78px 94px 0;
  padding: 0;
  font-size: 40px;
  font-weight: bold;
}
@media screen and (max-width: 680px) {
  .name {
    font-size: 2rem;
    width: 149px;
    margin-left: 10px;
  }
}
.furigana {
  border-width: 423px;
  font-size: 30px;
  margin-left: 163px;
}
@media screen and (max-width: 680px) {
  .furigana {
    font-size: 1.6rem;
    width: 150px;
    margin-left: 37px;
  }
}
.hanasi {
  font-size: 30px;
  line-height: 48px;
  border-top: solid 2px #fff;
}
@media screen and (max-width: 680px) {
  .hanasi {
    font-size: 1.6rem;
    width: 181px;
    line-height: 25px;
    margin-left: 12px;
  }
}
.boder p {
  padding: 101px 150px 139px;
  width: 720px;
  font-size: 60px;
  font-family: serif;
  color: #fff;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
/* .boder::before,
.boder::after {
  border-top: 1px solid;
  content: "";
  width: 3em;
}
.boder::before {
  margin-right: 1em;
}
.boder::after {
  margin-left: 1em;
} */
@media screen and (max-width: 680px) {
  .boder p {
    width: 367px;
    font-size: 3rem;
    padding-top: 603px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 100px;
    /* text-align: center; */
  }
}
.main-menu {
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 680px) {
  .main-menu {
    width: 100%;
  }
}
.main-menu-bg {
  background-image: url(../LP-pc-img/pc-bg/images/pc-bg-home-02.png);
}
.menu-tytle {
  display: flex;
  justify-content: center;
}
.menu-tytle img {
  margin: 10px;
  padding: 30px;
}
@media screen and (max-width: 680px) {
  .menu-tytle img {
    padding: 5px;
    margin: 20px 5px 0 5px;
  }
}
@media screen and (max-width: 680px) {
  .menu-tytle .fo-ku {
    width: 56px;
  }
}
@media screen and (max-width: 680px) {
  .sara {
    width: 46px;
  }
}
.menu-bg {
  background-color: rgba(241, 241, 241, 0.5);
  margin: 0;
}
@media screen and (max-width: 680px) {
  .menu-bg {
    width: 129px;
  }
}
@media screen and (max-width: 680px) {
  .menu-icon {
    min-height: 300px;
  }
}
.bg-color1 
/* a[target="_blank"]  */ {
  background-image: url(../LP-pc-img/pc-icon/pc-menu-bg-01.png);
  /* background-size: 877px 192px; */
  /* background-color: #e71f19; */
  width: 877px;
  height: 192px;
  position: relative;
  top: 431px;
}
.bg-color1 p {
  position: absolute;
  font-size: 110px;
  font-family: Caveat;
  color: #339933;
  -webkit-text-stroke: 2px #fff;
  margin: 41px 76px 24px 575px;
}
.bg-color1 a {
  text-decoration: none;
}
.lunch {
  margin: 191px 0 0 110px;
  position: relative;
  z-index: 1;
}

.lunch-s {
  position: relative;
  top: 43px;
  left: 22px;
  /* width: 120px; */
  z-index: 3;
}
@media screen and (max-width: 680px) {
  .lunch-s {
    display: inline !important;
  }
}
.sp-a {
  display: inline-block;
  width: 0%;
}
.bg-color2 {
  background-image: url(../LP-pc-img/pc-icon/pc-menu-bg-02.png);
  width: 877px;
  height: 192px;
  position: relative;
  top: 254px;
  left: 207px;
}
.bg-color2 p {
  font-size: 110px;
  font-family: Caveat;
  color: #ff1d25;
  margin: 41px 461px 61px 59px;
  position: absolute;
}
.bg-color2 a {
  text-decoration: none;
}
.dinner {
  margin: 0 49px 0 571px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 680px) {
  .dinner-s {
    display: initial !important;
    position: relative;
    top: 150px;
    left: 132px;
    z-index: 3;
    /* width: 120px; */
  }
}
.bg-color3 {
  background-image: url(../LP-pc-img/pc-icon/pc-menu-bg-03.png);
  width: 855px;
  height: 195px;
  position: relative;
  top: 252px;
}
.bg-color3 p {
  position: absolute;
  font-size: 110px;
  font-family: Caveat;
  color: #fff;
  margin: 49px 75px 57px 571px;
}
.bg-color3 a {
  text-decoration: none;
}
.drink {
  margin: 0 0 0 110px;
  position: relative;
  z-index: 1;
  padding-bottom: 214px;
}
@media screen and (max-width: 680px) {
  .drink-s {
    display: initial !important;
    position: relative;
    top: 43px;
    right: -243px;
    z-index: 3;
    /* width: 120px; */
  }
}
.yoyaku-bg {
  background-image: url(../LP-pc-img/pc-bg/images/pc-bg-home-03.png);
  position: relative;
  z-index: -2;
}
.yoyaku-p {
  font-size: 48px;
  font-family: Hiragino Kaku Gothic Pro;
  line-height: 84px;
  color: #fff;
  text-align: center;
  padding: 65px;
  font-weight: bold;
  z-index: 3;
}
@media screen and (max-width: 680px) {
  .yoyaku-p {
    font-size: 2.4rem;
    line-height: 42px;
    padding: 60px 30px;
    cursor: pointer;
  }
}
.yoyaku-p .b-1 {
  position: relative;
  top: 0;
  left: 0;
  font-size: 75px;
  font-family: serif;
  color: #fff;
  background-color: #006633;
  border: solid #fff;
  border-radius: 20px;
  display: inline-block;
  padding: 25px 77px 25px 77px;
  margin-top: 20px;
}
@media screen and (max-width: 680px) {
  .yoyaku-p .b-1 {
    font-size: 3.6rem;
    padding: 15px 36px;
  }
}
.piza-bg-img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
@media screen and (max-width: 680px) {
  .piza-bg-img {
    width: 100%;
    /* padding: 0 0 0 0; */
    margin-top: 70px;
  }
}
.gaikan {
  width: 100%;
  text-align: center;
  margin-top: 291px;
  padding-bottom: 199px;
}
@media screen and (max-width: 680px) {
  .gaikan {
    width: 100%;
    margin-top: 35px;
    padding-bottom: 60px;
  }
}
.akusesu {
  font-family: serif;
  background-image: url(../LP-pc-img/pc-bg/images/pc-bg-home-03.png);
  position: relative;
}
@media screen and (max-width: 680px) {
  .akusesu {
    height: 740px;
  }
}
.akusesu-tytle {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #c7ba9a;
  margin-bottom: 162px;
}
@media screen and (max-width: 680px) {
  .akusesu-tytle {
    font-size: 3rem;
    margin-bottom: 40px;
  }
}
.akusesu-img1 {
  opacity: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 680px) {
  .akusesu-img1 {
    width: 100%;
  }
}
.akusesu-naka {
  position: absolute;
  top: 254px;
}
@media screen and (max-width: 680px) {
  .akusesu-naka {
    width: 361px;
    top: 90px;
  }
}
.akusesu-naka div {
  display: flex;
  width: 852px;
  justify-content: space-between;
  /* margin: 0 auto; */
}
@media screen and (max-width: 680px) {
  .akusesu-naka div {
    width: 373px;
  }
}
.akusesu-naka dt {
  font-size: 35px;
  font-weight: bold;
  color: #c7ba9a;
  /* clear: left; */
  /* clear: left; */
  margin-left: 100px;
  margin-bottom: 75px;
}
@media screen and (max-width: 680px) {
  .akusesu-naka dt {
    font-size: 1.6rem;
    margin-left: 16px;
    margin-bottom: 35px;
  }
}
.akusesu-naka dd {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  width: 547px;
  /* float: left; */
  /* margin-left: 30px; */
}
@media screen and (max-width: 680px) {
  .akusesu-naka dd {
    font-size: 1.6rem;
    width: 240px;
  }
}
.map {
  padding-top: 20px;
  padding-bottom: 221px;
}
@media screen and (max-width: 680px) {
  .map {
    padding-bottom: 0px;
  }
}
.map-logo {
  position: absolute;
  top: 1150px;
  left: 395px;
}
@media screen and (max-width: 680px) {
  .map-logo {
    width: 30%;
    position: relative;
    top: -245px;
    left: 142px;
  }
}
footer {
  font-family: serif;
}
@media screen and (max-width: 680px) {
  .footer {
    width: 100%;
  }
}
.footer-bg {
  background-image: url(../LP-pc-img/pc-bg/images/pc-bg-home-04.png);
}
.footer-icon1 .x {
  /* margin: 10px; */
  padding: 61px 0 0 70px;
}
@media screen and (max-width: 680px) {
  .footer-icon1 .x {
    width: 33px;
    padding: 10px 0 0 55px;
  }
}
.footer-icon1 .insuta {
  padding-left: 69px;
}
@media screen and (max-width: 680px) {
  .footer-icon1 .insuta {
    width: 38px;
    padding-left: 25px;
  }
}
.kome {
  font-size: 48px;
  color: #fff;
  padding: 118px 0 0 25px;
}
@media screen and (max-width: 680px) {
  .kome {
    font-size: 18px;
    padding: 10px 0 0 27px;
  }
}
.top-botan {
  padding-top: 53px;
  padding-left: 400px;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 680px) {
  .top-botan-s {
    display: initial !important;
    /* text-align: center; */
    /* padding-top: 27px; */
    /* padding-left: 160px; */
    cursor: pointer;
    z-index: 3;
    position: relative;
    top: 27px;
    left: 160px;
  }
}
.footer-logo {
  text-align: right;
  padding-right: 37px;
}
@media screen and (max-width: 680px) {
  .footer-logo {
    width: 100%;
    /* display: flex; */
  }
}
/* @media screen and (max-width: 680px) {
  .footer-logo-1 {
    width: 93px;
  }
} */
.copy {
  color: #fff;
  font-size: 37px;
  padding: 0 0 29px 40px;
}
@media screen and (max-width: 680px) {
  .copy {
    font-size: 1.4rem;
    padding: 0 0 10px 16px;
    display: flex;
    align-items: flex-end;
  }
}
@media screen and (max-width: 680px) {
  .copy p {
    width: 118px;
  }
}
.footer-logo-s {
  width: 93px;
  padding-left: 149px;
  padding-right: 15px;
}
.pc {
  display: block;
}
@media screen and (max-width: 680px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 680px) {
  .sp {
    display: block;
  }
}
