@charset "UTF8";
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 680px) {
  .container {
    width: 100%;
  } 
}
.title1{
  font-size: 3.5rem;
  font-family: serif;
  padding: 20px;
}
@media screen and (max-width: 680px) {
  .title1{
    font-size: 2rem;
  }
}
.glea{
  color: #5e5e5e;
}
.lh-20{
  line-height: 20px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,th {
  font-family: serif;
  font-size: 1.8rem;
  text-align: center;
}
q:before,q:after {
  content: '';
}
object,embed {
  vertical-align: top;
}
hr,legend {
  display: none;
}
img,abbr,acronym,fieldset {
  border: 0;
}
li {
  list-style-type: none;
}
sup {
  vertical-align: super;
  font-size: 0.5em;
}
img {
  vertical-align: top;
}
i {
  font-style: normal;
}
.box_con02 {
  max-width: 900px;
  margin: 0  auto;
}
@media only screen and (max-width: 768px) {
  .box_con02 {
    width: 95%;
  }
}
.box_con02 form {
  width: 100%;
}
.box_con02 form table {
  width: 100%;
}
.box_con02 form table tr {
  position: relative;
}
.box_con02 form table tr:first-child td:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 1px;
  border-bottom: solid 1px rgba(28, 46, 83, 0.5);
}
@media only screen and (max-width: 768px) {
  .box_con02 form table tr:first-child td:before {
    display: none;
  }
}
.box_con02 form table tr th {
  width: 30%;
  font-weight: normal;
  padding: 1em .5em;
  background: #531e1c;
  color: #fff;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .box_con02 form table tr th {
    text-align: center;
    width: 100%;
    display: block;
    padding: .8em .2em;
  }
}
.box_con02 form table tr th span {
  background: #cd6f55;
  padding: 0 .3em;
  color: #fff;
  margin-left: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box_con02 form table tr th:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  border-bottom: solid 1px #fff;
}
select{
  font-size: 1.6rem;
}
option{
  font-size: 1.6rem;
}
.box_con02 form table tr td {
  position: relative;
  padding: 1.8em .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
  display: block;
}
@media only screen and (max-width: 768px) {
  .box_con02 form table tr td {
    padding: 1.5em .5em;
    display: block;
    width: 100%;
  }
}
.box_con02 form table tr td:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  border-bottom: solid 1px rgba(28, 46, 83, 0.5);
}
.box_con02 form table tr .box_br {
  display: block;
}
.box_con02 form table tr select, .box_con02 form table tr textarea, .box_con02 form table tr .wide {
  width: 100%;
  height: 3em;
  padding: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box_con02 form table tr textarea {
  height: 10em;
}
.btn {
  text-align: center;
}
.btn input {
  font-size: 2rem;
  display: inline-block;
  background: #063;
  padding: .5em 4em;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border: none;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin: 40px 0 60px;
}
.btn input:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.pc {
  display: block;
}
@media screen and (max-width: 680px) {
  .pc {
    display: none;
  }
}
.sp {
  display: none;
}
@media screen and (max-width: 680px) {
  .sp {
    display: block;
  }
}